
#supportHero{
  background-color: rgb(56,126,209);
  color: white;
}

#supportHero a{
  color:white;
  margin-top: 20px;
  padding-right:10px; 
}

#supportWrapper{
  display: flex;
  justify-content: space-between;
  margin: 0 150px;
}

#supportHero input{
  width: 85%;
  padding: 20px 50px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  margin-bottom: 20px;

}
#styleHero {
margin-left: 150px;
}

.heading{
  padding-right: 60px;
}
.ancher{
  padding-right:60px ;
  margin-bottom: 50px;
}
#columnHero a{
  line-height: 40px;
}
.form_container {
  background-color: #fff;
  padding: 2rem 3rem;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 400px;
  box-shadow: 0px 0px 4px 0px rgba(66, 68, 90, 1);
  margin: 50px 400px;
}
.form_container div {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.form_container input {
  border: none;
  padding: 0.5rem;
  border-bottom: 1px solid gray;
  font-size: 1.1rem;
  outline: none;
  margin-bottom: 1rem;
}
.form_container input::placeholder {
  font-size: 0.9rem;
  font-style: italic;
}

.form_container button {
  background-color: rgba(0, 212, 255, 1);
  color: #fff;
  border: none;
  padding: 0.2rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.3rem;
  margin-right: 0.5rem;
}

span a {
  text-decoration: none;
  color: rgba(0, 212, 255, 1);
}

.form_container  h2 {
  margin-block: 1rem;
  padding-block: 0.6rem;
  
}
label {
  font-size: 1.2rem;
  color: #656262;
}



